<noscript>
  <style type="text/css">
    #contact{ display: none;}
  </style>
</noscript>

<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/efikarl.js"></script>
<!-- highlight.js+ -->
<script type="text/javascript" src="/javascripts/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script src="/javascripts/hljs/asm.x64.min.js"></script>
<script src="/javascripts/hljs/c.min.js"></script>
<script src="/javascripts/hljs/csharp.min.js"></script>
<script src="/javascripts/hljs/diff.min.js"></script>
<script src="/javascripts/hljs/info.min.js"></script>
<script src="/javascripts/hljs/makefile.min.js"></script>
<script src="/javascripts/hljs/ruby.min.js"></script>
<script src="/javascripts/hljs/rust.min.js"></script>
<script src="/javascripts/hljs/shell.min.js"></script>
<script src="/javascripts/hljs/sql.min.js"></script>
<script src="/javascripts/hljs/vim.min.js"></script>
<!-- highlight.js- -->
