//	HTML5 Reset :: style.css
//	----------------------------------------------------------
//	We have learned much from/been inspired by/taken code where offered from:
//
//	Eric Meyer					:: http://meyerweb.com
//	HTML5 Doctor				:: http://html5doctor.com
//	and the HTML5 Boilerplate	:: http://html5boilerplate.com
//
//-------------------------------------------------------------------------------

// Handle box-sizing while better addressing child elements:
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Blog Global Setting
body {
  color: $text;
  font-family: $font-family-karl;
}

a {
  color: $link;
  text-decoration: none;
  transition: all ease-out;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1, h2, h3, h4, h5, h6, strong {
  color: $title;
}

// Setting from Pure.CSS

html {
  -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:active, a:hover {
  outline: 0;
}

table {
  border-collapse: collapse; border-spacing: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block; vertical-align: baseline;
}

audio:not([controls]) {
  display: none; height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}

sup {
  top   : -.50em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box; height: 0;
}

pre, textarea {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace; font-size: 1em;
}

legend,
td,
th {
  padding: 0;
}

// Blog Layout Setting
.header {
  width: 75%; height: 48px; padding: 0; margin: 10px auto;
  @include device($desktop) {
  width: 75%; height: 48px; padding: 0; margin: 25px auto;
  }
}

.main {
  h1 { font-size: 2.000rem * 0.75; }
  h2 { font-size: 1.500rem * 0.75; }
  h3 { font-size: 1.375rem * 0.75; }
  h4 { font-size: 1.250rem * 0.75; }
  h5 { font-size: 1.125rem * 0.75; }
  h6 { font-size: 1.000rem * 0.75; }
  p, dl, ul, ol { font-size: 1.000rem * 0.75; line-height: 1.25rem * 0.75; }
  @include position-r(75%, auto, 0, 25px auto, block);

  @include device($desktop) {
    h1 { font-size: 2.000rem; }
    h2 { font-size: 1.500rem; }
    h3 { font-size: 1.375rem; }
    h4 { font-size: 1.250rem; }
    h5 { font-size: 1.125rem; }
    h6 { font-size: 1.000rem; }
    p, dl, ul, ol { font-size: 1.000rem; line-height: 1.25rem; }
    @include position-r(75%, auto, 0, 50px auto, block);
  }

  -webkit-hyphens: none; -ms-hyphens: none; hyphens: none;

  code {
    font-family: Consolas, Menlo, Hack, monospace;
    font-size: 0.875rem;
  }
}
