@mixin logo-letter-pos($selector, $top, $left) {
  &.#{$selector} {
    top: $top; left: $left;
  }
}

@mixin logo-letter-ani($selector, $time) {
  &.#{$selector} {
    animation-delay:  $time;
  }
}

@mixin else-link-pop($color) {
  position: relative;
  .fa {
    position: relative;
  }
  &:before {
    @include position-a(0, 0, 0, 0, block);
    border-radius: 32px;
    background: $color;
    content: " ";
    opacity: 0;
  }
  &:hover {
    &:before {
      animation: logo-pop 1000ms linear both;
    }
  }
}

@keyframes menu-line-expand {
  from {
    left: 50%;
    width: 0%;
  } to {
    left: 0%;
    width: 100%;
  }
}

@keyframes logo-pop {
  0% {
    opacity: 0;
    transform: matrix3d(0.100, 0, 0, 0, 0, 0.100, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    opacity: 1;
    transform: matrix3d(0.384, 0, 0, 0, 0, 0.466, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.505, 0, 0, 0, 0, 0.639, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    transform: matrix3d(0.693, 0, 0, 0, 0, 0.904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.895, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    transform: matrix3d(0.947, 0, 0, 0, 0, 1.204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.111, 0, 0, 0, 0, 1.299, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.127, 0, 0, 0, 0, 1.298, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.187, 0, 0, 0, 0, 1.216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.191, 0, 0, 0, 0, 1.169, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.177, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.135, 0, 0, 0, 0, 0.964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 0.944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.057, 0, 0, 0, 0, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.043, 0, 0, 0, 0, 0.909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.981, 0, 0, 0, 0, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(0.974, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.965, 0, 0, 0, 0, 1.020, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(0.969, 0, 0, 0, 0, 1.029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.992, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.005, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1.000, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    opacity: 1;
    transform: matrix3d(1.000, 0, 0, 0, 0, 1.000, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

.header {
  text-align: center;
  .logo {
    @include position-r(48px, 48px, 0, 5px auto, block);
    box-shadow: inset 0 0 0 1px $logo-k; border-radius: 24px;
    &:before {
      @include position-a(0, 0, 0, 0, inherit);
      content: " ";
      border-radius: 24px;
    }
    span {
      position: absolute; display: block; background: $logo-k;
      width: 4px; height: 4px;
      @include logo-letter-pos (a, 16px, 16px);
      @include logo-letter-pos (b, 20px, 16px);
      @include logo-letter-pos (c, 24px, 16px);
      @include logo-letter-pos (d, 28px, 16px);
      @include logo-letter-pos (e, 32px, 16px);
      @include logo-letter-pos (f, 16px, 26px);
      @include logo-letter-pos (g, 24px, 20px);
      @include logo-letter-pos (h, 24px, 22px);
      @include logo-letter-pos (i, 32px, 26px);
      @include logo-letter-pos (j, 36px, 30px);
      @include logo-letter-pos (k, 40px, 34px);
    }
    &:hover, &.active {
      &:before {
        background: $logo-k;
        animation: logo-pop 1000ms linear both;
      }
      span {
        background: white;
        animation: logo-pop 1000ms linear both;
        @include logo-letter-ani (a,  50ms);
        @include logo-letter-ani (b, 100ms);
        @include logo-letter-ani (c, 150ms);
        @include logo-letter-ani (d, 200ms);
        @include logo-letter-ani (e, 250ms);
        @include logo-letter-ani (f, 300ms);
        @include logo-letter-ani (g, 350ms);
        @include logo-letter-ani (h, 400ms);
        @include logo-letter-ani (i, 450ms);
        @include logo-letter-ani (j, 500ms);
        @include logo-letter-ani (k, 999ms);
      }
    }
    @include device($desktop) {
      float: left;
    }
  }
  .toggle {
    @include position-a(5px, auto, auto, auto, inherit);
    .fa {
      color: $logo-k;
      line-height: 48px;
    }
    &.toggle-menu {
      left: 20px;
    }
    &.toggle-else {
      right: 20px;
    }
    @include device($desktop) {
      display: none;
    }
  }
  .reset {
    @include position-a(0, 0, 0, 0, none);
    background: rgba(black, 0.1);
  }
  .dropdown {
    @include position-a(50px, auto, auto, auto, none);
    background: white; overflow: hidden;
    box-shadow: 0 5px 10px rgba(black, 0.2); border-radius: 5px;
    z-index: 1024;
    li {
      display: inline;
      a {
        padding: 5px 0;
      }
    }
    &.dropdown-menu {
      right: auto; left: 10px; padding: 10px; margin: auto;
      font-size: 12px; text-align: left;
      li {
        a {
          display: block;
          color: $text;
          border-bottom: 1px solid $lv1;
          &:hover, &.active {
            color: $title;
          }
          &.active {
            border-bottom: 1px solid $logo-k;
          }
        }
        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
    }
    &.dropdown-else {
      right: 10px; left: auto; padding: 5px; margin: auto;
      font-size: 12px; text-align: center;
      li {
        a {
          @include position-r(40px, auto, 0, auto, block);
          color: $lv1;
          line-height: 40px;
          &:hover {
            color: white;
          }
          &.github {
            @include else-link-pop($github);
          }
          &.rss {
            @include else-link-pop($rss);
          }
        }
      }
    }
    @include device($desktop) {
      @include position-a(auto, auto, auto, auto, none);
      background: white; overflow: visible;
      box-shadow: none; border-radius: 5px;
      float: left;
      @include position-r(auto, auto, auto, 5px auto, block);
      li {
        display: inline;
        a {
          padding: 5px 0;
        }
      }
      &.dropdown-menu {
        right: auto; left: 10px; padding: 10px; margin: auto;
        font-size: 24px; text-align: left;
        li {
          a {
            display: block;
            color: $text;
            border-bottom: none;
            float: left;
            margin-right: 20px;
            &:hover, &.active {
              color: $title;
              position: relative;
              &:before {
                @include position-a(auto, auto, 0, 0, block);
                width: 100%; height: 1px;
                content: " "; background: $logo-k;
                animation: menu-line-expand 500ms both;
                bottom: -1px;
              }
            }
            &.active, &.active:hover {
              &:before {
                animation: none;
              }
            }
          }
          &:last-child {
            a {
              border-bottom: none;
            }
          }
        }
      }
      &.dropdown-else {
        right: 10px; left: auto; padding: 5px; margin: auto;
        font-size: 24px; text-align: center;
        float: right;
        li {
          a {
            @include position-r(48px, auto, 0, auto, block);
            float: left;
            color: $lv1;
            line-height: 48px; border-radius: 24px;
            &:hover {
              color: white;
            }
            &.github {
              @include else-link-pop($github);
            }
            &.rss {
              @include else-link-pop($rss);
            }
          }
        }
      }
    }
  }
}

.menu-open,
.else-open {
  width: 100%; height: 100%;
  overflow: hidden;
  .reset {
    display: block;
  }
  @include device($desktop) {
    width: auto; height: auto;
    overflow: visible;
  }
}
.menu-open {
  .dropdown-menu {
    display: block;
  }
}
.else-open {
  .dropdown-else {
    display: block;
  }
}
